---
interface Props {
  title?: string
  description?: string
  pageScript?: string
  pageCss?: string
  isRtl?: boolean
}

const { pageScript, pageCss, isRtl = false } = Astro.props

function getCSS() {
  const isDev = import.meta.env.DEV
  return isDev ? `/dist/css/style.css` : `/css/style.min.css`
}

function getSkinCSS() {
  const isDev = import.meta.env.DEV
  return isDev ? `/dist/assets/vendor/css/skin.css` : `/assets/vendor/css/skin.css`
}

function getRtlCSS() {
  const isDev = import.meta.env.DEV
  return isDev ? `/dist/css/style.rtl.css` : `/css/style.rtl.min.css`
}

function getJS(filename: string) {
  const isDev = import.meta.env.DEV
  return isDev ? `/dist/js/${filename}.js` : `/js/${filename}.min.js`
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Astero Admin CSS -->
    {
      isRtl ? (
        <link href={getRtlCSS()} rel="stylesheet" />
      ) : (
        <link href={getCSS()} rel="stylesheet" />
      )
    }
    <link href={getSkinCSS()} rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.6.0/fonts/remixicon.css"
      rel="stylesheet"
    />

    <!-- Source Sans 3 from Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />

    <script>
      const theme = localStorage.getItem('theme')
      if (theme) {
        localStorage.setItem('iframe-theme', theme)
        document.documentElement.setAttribute('data-bs-theme', theme)
      }

      // Add theme synchronization message handler
      window.addEventListener('message', function (event) {
        if (event.data && event.data.type === 'setTheme') {
          const newTheme = event.data.theme
          // Update the theme
          document.documentElement.setAttribute('data-bs-theme', newTheme)
          localStorage.setItem('iframe-theme', newTheme)

          // Acknowledge the theme change back to the parent
          window.parent.postMessage({ type: 'themeAcknowledged', theme: newTheme }, '*')
        }
      })
    </script>

    <style id="iframe-style">
      body {
        padding: 1rem;
        margin: 0;
      }
      #iframe-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
      }
      #iframe-html {
        width: 100%;
        height: 100%;
      }
    </style>

    <!-- Page CSS -->
    {pageCss && <Fragment set:html={pageCss} />}
  </head><body>
    <div id="iframe-wrapper">
      <div id="iframe-html">
        <slot />
      </div>
    </div>

    <!-- Initialize Theme Js -->
    <script src={getJS('main')} is:inline></script>
    {pageScript && <Fragment set:html={pageScript} />}
  </body>
</html>
