---
import AdminLayout from '../../layouts/admin/admin-layout.astro'
import ComponentPreview from '../../components/component-preview/component-preview.astro'
import Toc from '../../components/toc/toc.astro'
import PageHeader from '../../components/common/page-header.astro'
import { getAssetPrefix, getPathPrefix } from '../../../utils/path.js'

// Configuration for the page header with navigation breadcrumbs
const pageHeaderConfig = {
  title: 'Navbar',
  breadcrumbs: [
    { label: 'Dashboard', href: getPathPrefix('/dashboard'), icon: 'ri-dashboard-line' },
    { label: 'Interface', href: getPathPrefix('/interface'), icon: 'ri-layout-line' },
    { label: 'Navbar', class: 'active', icon: 'ri-navigation-line' } // Current page
  ]
}

const defaultNavbarExample = `<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
`

const navLinkSizeVeriations = `<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Nav Link Sizes</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSizingExample1" aria-controls="navbarSizingExample1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSizingExample1">
      <ul class="navbar-nav me-auto align-items-center mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link nav-link-xs" href="#">Extra Small Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-sm" href="#">Small Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Default Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-lg" href="#">Large Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-xl" href="#">Extra Large Link</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
`

const brandTextNavbarExample = `<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1"><i class="ri-navigation-line me-2"></i>Navbar</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><i class="ri-home-line me-1"></i>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="ri-link me-1"></i>Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="ri-menu-line me-1"></i>Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#"><i class="ri-arrow-right-s-line me-1"></i>Action</a></li>
            <li><a class="dropdown-item" href="#"><i class="ri-arrow-right-s-line me-1"></i>Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#"><i class="ri-more-line me-1"></i>Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true"><i class="ri-forbid-line me-1"></i>Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"><i class="ri-search-line me-1"></i>Search</button>
      </form>
    </div>
  </div>
</nav>
`
const brandImageNavbarExample = `<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="${getAssetPrefix('/assets/svg/astero-icon-color.svg')}" alt="Bootstrap" width="30" height="24">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
`
const brandImageTextNavbarExample = `<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="${getAssetPrefix('/assets/svg/astero-icon-color.svg')}" alt="Bootstrap" width="30" height="24" class="d-inline-block align-text-top">
      Astero Admin
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
`
const searchFormNavbarExample = `<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search with icons" aria-label="Search">
      <button class="btn btn-outline-success" type="submit"><i class="ri-search-line me-1"></i>Search</button>
    </form>
  </div>
</nav>
`
const textOnlyNavbarExample = `<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <span class="navbar-text">
      <i class="ri-information-line me-1"></i>Simple navbar text with an icon
    </span>
  </div>
</nav>
`
const colorSchemeNavbarExample = `<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="ri-moon-line me-2"></i>Dark Theme</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><i class="ri-home-line me-1"></i>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="ri-link me-1"></i>Link</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="ri-contrast-2-line me-2"></i>Primary Theme</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><i class="ri-home-line me-1"></i>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="ri-link me-1"></i>Link</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand text-dark" href="#"><i class="ri-sun-line me-2"></i>Light Theme</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-dark active" aria-current="page" href="#"><i class="ri-home-line me-1"></i>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#"><i class="ri-link me-1"></i>Link</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
`
const containerNavbarExample = `<div class="container">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><i class="ri-layout-masonry-line me-2"></i>Contained Navbar</a>
    </div>
  </nav>
</div>
`
const defaultPositionNavbarExample = `<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="ri-layout-top-line me-2"></i>Default Position</a>
  </div>
</nav>
`
const stickyTopNavbarExample = `<div style="height: 300px; overflow-y: auto; position: relative; background: #f8f9fa;">
  <nav class="navbar navbar-expand-lg sticky-top bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><i class="ri-arrow-up-line me-2"></i>Sticky Top</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#stickyTopNav" aria-controls="stickyTopNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="stickyTopNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><i class="ri-home-line me-1"></i>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="ri-link me-1"></i>Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="ri-menu-line me-1"></i>Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#"><i class="ri-arrow-right-s-line me-1"></i>Action</a></li>
              <li><a class="dropdown-item" href="#"><i class="ri-arrow-right-s-line me-1"></i>Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#"><i class="ri-more-line me-1"></i>Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit"><i class="ri-search-line me-1"></i>Search</button>
        </form>
      </div>
    </div>
  </nav>

  <div class="p-4">
    <h4><i class="ri-article-line me-2"></i>Sample Content</h4>
    <p>Scroll this section to see the sticky navbar in action. The navbar will remain at the top while you scroll through the content.</p>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title"><i class="ri-file-text-line me-2"></i>Article 1</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title"><i class="ri-file-text-line me-2"></i>Article 2</h5>
        <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title"><i class="ri-file-text-line me-2"></i>Article 3</h5>
        <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
      </div>
    </div>
  </div>
</div>`
const stickyBottomNavbarExample = `<div style="height: 300px; overflow-y: auto; position: relative; background: #f8f9fa;">
  <div class="p-4">
    <h4><i class="ri-article-line me-2"></i>Sample Content</h4>
    <p>Scroll this section to see the sticky navbar in action. The navbar will remain at the bottom while you scroll through the content.</p>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title"><i class="ri-file-text-line me-2"></i>Article 1</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title"><i class="ri-file-text-line me-2"></i>Article 2</h5>
        <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title"><i class="ri-file-text-line me-2"></i>Article 3</h5>
        <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg sticky-bottom bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><i class="ri-arrow-down-line me-2"></i>Sticky Bottom</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#stickyBottomNav" aria-controls="stickyBottomNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="stickyBottomNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><i class="ri-home-line me-1"></i>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="ri-link me-1"></i>Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="ri-menu-line me-1"></i>Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#"><i class="ri-arrow-right-s-line me-1"></i>Action</a></li>
              <li><a class="dropdown-item" href="#"><i class="ri-arrow-right-s-line me-1"></i>Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#"><i class="ri-more-line me-1"></i>Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit"><i class="ri-search-line me-1"></i>Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>`
const scrollableNavbarExample = `<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar scroll</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Link
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Link</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
`
const togglerBasicNavbarExample = `<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#"><i class="ri-menu-unfold-line me-2"></i>Hidden Brand</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><i class="ri-home-line me-1"></i>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="ri-link me-1"></i>Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true"><i class="ri-forbid-line me-1"></i>Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"><i class="ri-search-line me-1"></i>Search</button>
      </form>
    </div>
  </div>
</nav>
`
const togglerRightNavbarExample = `<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="ri-layout-right-line me-2"></i>Right Toggler</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><i class="ri-home-line me-1"></i>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="ri-link me-1"></i>Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true"><i class="ri-forbid-line me-1"></i>Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"><i class="ri-search-line me-1"></i>Search</button>
      </form>
    </div>
  </div>
</nav>
`
const togglerLeftNavbarExample = `<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><i class="ri-layout-left-line me-2"></i>Left Toggler</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><i class="ri-home-line me-1"></i>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="ri-link me-1"></i>Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true"><i class="ri-forbid-line me-1"></i>Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"><i class="ri-search-line me-1"></i>Search</button>
      </form>
    </div>
  </div>
</nav>
`
const externalContentNavbarExample = `<div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
  <div class="bg-dark p-4">
    <h5 class="text-body-emphasis h4"><i class="ri-menu-fold-line me-2"></i>Collapsed Content</h5>
    <span class="text-body-secondary"><i class="ri-information-line me-2"></i>This content can be toggled via the navbar button.</span>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
`
---

<AdminLayout
  title="Navbar"
  description="Modern, responsive navigation components with extensive customization options"
  currentPath="interface/navbar"
  enableComponentPreview={true}
>
  <PageHeader {...pageHeaderConfig} />
  <div class="row">
    <div class="col-lg-9 col-xl-9 order-1 order-lg-0">
      <div class="row">
        <div class="col-12">
          <p class="my-0">
            Navbars are essential navigation components that provide a consistent and intuitive way
            to navigate through your application. They are highly customizable, responsive by
            default, and support various elements like branding, navigation links, forms, and more.
            The navbar automatically adjusts its layout for optimal viewing on different screen
            sizes.
          </p>
        </div>
      </div>
      <div class="row js-toc-content">
        <div class="col-12">
          <div class="my-3">
            <h3 class="mb-0" id="example">Example</h3>
            <p class="py-2">
              This navbar includes a collapsible, responsive design with a brand logo, navigation
              links, a dropdown menu, a search form, and a toggle button for mobile views. The <code
                >navbar-expand-lg</code
              > class ensures the navbar expands on large screens, while it collapses on smaller screens
              with a toggleable button.
            </p>

            <!-- Navbar Example -->
            <ComponentPreview
              title="Example"
              height="350px"
              component={defaultNavbarExample}
              htmlCode={defaultNavbarExample}
              cssCode={``}
              jsCode={``}
            />
          </div>
          <div class="my-3">
            <h3 class="mb-0" id="sizing-variations">Sizing Variations</h3>
            <p class="py-2">
              Nav links and nav items can be sized using different classes. You can apply sizes
              directly to nav-links using <code>nav-link-*</code> classes or to nav-items using <code
                >nav-item-*</code
              > classes, where * can be xs, sm, lg, or xl.
            </p>

            <!-- Navbar Sizing Example -->
            <ComponentPreview
              title="Navigation Link Sizes"
              height="400px"
              component={navLinkSizeVeriations}
              htmlCode={navLinkSizeVeriations}
            />
          </div>
          <div class="my-3">
            <h3 class="mb-0" id="brand">Brand</h3>
            <p class="py-2">
              The <code>navbar-brand</code> class in Bootstrap is used to define the branding or logo
              section of a navbar, typically linking to the homepage or main site.
            </p>
          </div>
          <div class="my-3">
            <h3 class="mb-0" id="text">Text</h3>
            <p class="py-2">
              You can place your text inside an element with the <code>navbar-brand</code> class.
            </p>

            <!-- Navbar Example -->
            <ComponentPreview
              title="Brand Text as a Heading"
              height="350px"
              component={brandTextNavbarExample}
              htmlCode={brandTextNavbarExample}
              cssCode={``}
              jsCode={``}
            />
          </div>
          <div class="my-3">
            <h3 class="mb-0" id="image">Image</h3>
            <p class="py-2">
              You can also add an image inside an element with the <code>navbar-brand</code> class.
            </p>

            <!-- Navbar Example -->
            <ComponentPreview
              title="Image"
              height="350px"
              component={brandImageNavbarExample}
              htmlCode={brandImageNavbarExample}
              cssCode={``}
              jsCode={``}
            />
          </div>
          <div class="my-3">
            <h3 class="mb-0" id="image-and-text">Image and text</h3>
            <p class="py-2">
              You can also add both an image and text to the navbar brand by applying the <code
                >d-inline-block</code
              >
              and <code>align-text-top</code> classes to the <code>img</code>.
            </p>

            <!-- Navbar Example -->
            <ComponentPreview
              title="Image and Text"
              height="350px"
              component={brandImageTextNavbarExample}
              htmlCode={brandImageTextNavbarExample}
              cssCode={``}
              jsCode={``}
            />
          </div>
          <div class="my-3">
            <h3 class="mb-0" id="forms">Forms</h3>
            <p class="py-2">
              Forms in a navbar can be easily added by placing form elements like search inputs and
              buttons within the navbar's structure, ensuring they are responsive and aligned
              properly.
            </p>

            <!-- Navbar Example -->
            <ComponentPreview
              title="Forms"
              height="150px"
              component={searchFormNavbarExample}
              htmlCode={searchFormNavbarExample}
              cssCode={``}
              jsCode={``}
            />
          </div>
          <div class="my-3">
            <h3 class="mb-0" id="navbar-text">Text</h3>
            <p class="py-2">
              The <code>navbar-text</code> class in Bootstrap is used to add plain text to a navbar,
              aligning it with other navbar items without any additional styling or behavior.
            </p>

            <!-- Navbar Example -->
            <ComponentPreview
              title="Text"
              height="150px"
              component={textOnlyNavbarExample}
              htmlCode={textOnlyNavbarExample}
              cssCode={``}
              jsCode={``}
            />
          </div>
          <div class="my-3">
            <h3 class="mb-0" id="color-schemes">Color Schemes</h3>
            <p class="py-2">
              Bootstrap navbars support multiple color schemes to match your application's design.
              Use predefined classes like <code>bg-dark</code>
              with <code>data-bs-theme="dark"</code> for dark themes, <code>bg-primary</code> for branded
              colors, or custom background colors. Each theme automatically adjusts text and icon colors
              for optimal contrast and readability.
            </p>

            <!-- Navbar Example -->
            <ComponentPreview
              title="Color Schemes"
              height="500px"
              component={colorSchemeNavbarExample}
              htmlCode={colorSchemeNavbarExample}
              cssCode={``}
              jsCode={``}
            />
          </div>
          <div class="my-3">
            <h3 class="mb-0" id="containers">Container Options</h3>
            <p class="py-2">
              Navbars can be wrapped in different container types to control their width and
              positioning. Using the standard <code>container</code>
              class creates a responsive, centered navbar with maximum widths at each breakpoint, while
              <code>container-fluid</code> spans the full width of the viewport. This flexibility allows
              you to match your navbar's container style with your overall layout strategy.
            </p>

            <ComponentPreview
              title="Contained Navbar"
              height="150px"
              component={containerNavbarExample}
              htmlCode={containerNavbarExample}
              cssCode={``}
              jsCode={``}
            />
          </div>
          <div class="my-3">
            <h3 class="mb-0" id="placement">Placement Options</h3>
            <p class="py-2">
              Bootstrap offers multiple positioning options for navbars to suit different layout
              needs. The default position follows normal document flow, while <code>sticky-top</code
              > and <code>sticky-bottom</code> create navbars that remain visible at their respective
              positions during scrolling. These placement options help create intuitive navigation experiences
              that maintain accessibility regardless of scroll position.
            </p>

            <ComponentPreview
              title="Default Position"
              height="150px"
              component={defaultPositionNavbarExample}
              htmlCode={defaultPositionNavbarExample}
              cssCode={``}
              jsCode={``}
            />

            <ComponentPreview
              title="Sticky Top Navigation"
              height="350px"
              component={stickyTopNavbarExample}
              htmlCode={stickyTopNavbarExample}
              cssCode={``}
              jsCode={``}
            />

            <ComponentPreview
              title="Sticky Bottom Navigation"
              height="350px"
              component={stickyBottomNavbarExample}
              htmlCode={stickyBottomNavbarExample}
              cssCode={``}
              jsCode={``}
            />
          </div>
          <div class="my-3">
            <h3 class="mb-0" id="scrolling">Scrolling</h3>
            <p class="py-2">
              The <code>navbar-nav-scroll</code> class allows the navigation items in the navbar to become
              scrollable when they exceed a specified height. This makes the navbar more compact and
              ensures that navigation links are accessible without overwhelming the page layout.
            </p>

            <!-- Navbar Example -->
            <ComponentPreview
              title="Scrolling"
              height="300px"
              component={scrollableNavbarExample}
              htmlCode={scrollableNavbarExample}
              cssCode={``}
              jsCode={``}
            />
          </div>
          <div class="my-3">
            <h3 class="mb-0" id="responsive-behaviors">Responsive behaviors</h3>
            <p class="py-2">
              In Bootstrap, navbars are responsive, adjusting based on screen size using classes
              like <code>navbar-expand-*</code>
              (e.g., <code>navbar-expand-lg</code>), which control when the navbar should collapse.
              The <code>navbar-toggler</code>
              class creates a button to toggle the navbar on smaller screens, while <code
                >navbar-collapse</code
              > manages the collapsible content. These elements work together to create a navbar that
              is horizontally displayed on large screens and collapses into a toggleable menu on smaller
              ones.
            </p>
          </div>
          <div class="my-3">
            <h3 class="mb-0" id="toggler">Toggler Variations</h3>
            <p class="py-2">
              The navbar toggler is a crucial component for responsive navigation, appearing on
              smaller screens to control the visibility of navbar content. The <code
                >navbar-toggler</code
              > class creates an expandable/collapsible button that works seamlessly with the <code
                >data-bs-toggle="collapse"</code
              >
              attribute. The examples below demonstrate different toggler positions and behaviors to
              suit various design needs.
            </p>

            <!-- Navbar Examples -->
            <ComponentPreview
              title="Basic Toggler with Hidden Brand"
              height="350px"
              component={togglerBasicNavbarExample}
              htmlCode={togglerBasicNavbarExample}
              cssCode={``}
              jsCode={``}
            />

            <p class="py-2">
              This variation shows the brand name on the left with the toggler positioned on the
              right, a common layout pattern in modern web applications.
            </p>

            <ComponentPreview
              title="Right-aligned Toggler"
              height="300px"
              component={togglerRightNavbarExample}
              htmlCode={togglerRightNavbarExample}
              cssCode={``}
              jsCode={``}
            />

            <p class="py-2">
              For a unique layout, this example places the toggler on the left side while
              maintaining the brand name's visibility.
            </p>

            <ComponentPreview
              title="Left-aligned Toggler"
              height="300px"
              component={togglerLeftNavbarExample}
              htmlCode={togglerLeftNavbarExample}
              cssCode={``}
              jsCode={``}
            />
          </div>
          <div class="my-3">
            <h3 class="mb-0" id="external-content">External Content</h3>
            <p class="py-2">
              Sometimes you may want to toggle content that exists outside of the navbar itself. The <code
                >collapse</code
              > class can be used to control external content, creating an expandable section that's
              triggered by the navbar toggler. This pattern is useful for creating slide-down notifications,
              alerts, or additional navigation options that don't fit within the standard navbar layout.
            </p>

            <ComponentPreview
              title="External Collapsible Content"
              height="250px"
              component={externalContentNavbarExample}
              htmlCode={externalContentNavbarExample}
              cssCode={``}
              jsCode={``}
            />
          </div>
        </div>
      </div>
    </div>
    <Toc />
  </div>
</AdminLayout>
